<div class="login-page">
  <form class="login-form" id="ngForm" (ngSubmit)="login()">
    <h2>Login</h2>
    <div class="input-user">
      <input #uname type="text" placeholder="Username" name="uname" required>
    </div>
    <div class="input-pass">
      <input #pass type="password" placeholder="Password" name="pass" required (input)="editPassword()">
      <button id="show" *ngIf="typedPassword" type="button" (click)="showPassword()"> {{ show ? 'Hide' : 'Show' }}
      </button>
    </div>
    <div class="submit">
      <button form="ngForm">Submit</button> <!-- submit function add :D -->
    </div>
    <div class="create-account">
      <a [routerLink]="['/createUser']">Don't have an account?</a>
    </div>
  </form>
</div>
