<div class="create-user-page">
  <form class="crud-form" id="ngForm" (ngSubmit)="submitUserInfo()">
    <h2>Create User</h2>
    <div class="input-user">
      <input #uname type="text" placeholder="Username" name="uname" required>
    </div>
    <div class="input-pass">
      <input #pass type="password" placeholder="Password" name="pass" required (input)="editPassword()">
      <button id="show" *ngIf="typedPassword" type="button" (click)="showPassword()"> {{ show ? 'Hide' : 'Show' }}
      </button>
    </div>
    <div class="valid-pass">
      <input #pass2 type="password" placeholder="Enter Password again" name="pass2" required (input)="editPassword()">
    </div>

    <div class="submit">
      <button form="ngForm">Submit</button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
